.pm {
  padding: 20px 40px;

  &-show-all {
    display: flex;
    justify-content: center;
  }

  &-add {
    padding: 0 20%;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &-add-button {
    display: flex;
    align-items: center;
    border: 1px solid #d0d0d0;
    padding: 10px 5px 10px 15px;

    i {
      font-size: 20px;
      font-weight: bold;
      color: #009999;
    }
  }

  &-add-title {
    margin: 0;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #009999;
  }
}