<div class="pm">
  <ol-widget-head
    [stepNumber]="data.numberInOrder"
    [title]="data.title"
    (action)="edit()"
  ></ol-widget-head>
  <div class="pm-method-list">
    <ng-container *ngFor="let method of data.methods">
      <ol-payment-method-item
        [paymentMethod]="method"
      ></ol-payment-method-item>
    </ng-container>
    <div class="pm-add">
      <div class="pm-add-button" [routerLink]="['add-payment-method']">
        <i nz-icon nzType="plus"></i>
        <p class="pm-add-title">Add new payment method</p>
      </div>
    </div>
    <div class="pm-show-all">
      <button
        nz-button
        nzType="default"
      >
        View more
      </button>
    </div>
  </div>
</div>