.header {

  &-wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #4a88a0;
    color: white;
  }

  &-title {
    flex-grow: 1;

    p {
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 23px;
    }
  }
}