<div class="header-wrapper">
  <div class="header-title">
    <p> {{ data.title }} </p>
  </div>
  <div class="header-close-button">
    <button
      nz-button
      nzType="default"
      nzShape="circle"
      nzSize="small"
    >
      <i nz-icon [nzType]="'close'"></i>
    </button>
  </div>
</div>