.sf-wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;

  .sf-side {
    overflow-x: hidden;
    overflow-y: auto;

    &.modal {
      padding: 20px;
    }

    &.widgets {
      flex-grow: 1;
    }
  }
}