.pa {
  padding: 20px 40px;

  &-amount {
    padding-left: 50px;
  }

  &-title {
    font-size: 10px;
  }

  &-value {
    font-size: 30px;
    color: lightseagreen;
    display: block;
    line-height: 25px;
  }
}
