<div class="pa">
  <ol-widget-head
    [stepNumber]="data.numberInOrder"
    [title]="data.title"
    (action)="edit()"
  ></ol-widget-head>
  <div class="pa-amount">
    <div class="pa-title">Amount Due</div>
    <div class="pa-value">{{ data.amount | currency: 'USD': 'symbol': '0.2-2' }}</div>
  </div>
</div>