.pib {
  padding-left: 10px;
  display: flex;
  align-items: center;

  &-image {
    display: block;
    width: 45px;
    height: 30px;
    background-color: rgb(78, 161, 113);
    border-radius: 5px;
  }

  &-customer {
    padding-left: 10px;
  }
}