<div class="pib">
  <div class="pib-image"></div>
  <div class="pib-customer">
    <div class="pib-info"> {{ method.bankName }} ending in {{ method.lastFourAccountDigits }} </div>
    <div class="pib-info"> Bank account </div>
  </div>
</div>