<div
  class="component-wrapper"
  [class.active]="status"
  (dblclick)="toggleComponentStatus()"
  title="Double click to enter menu"
>
  <div class="component-control" *ngIf="status">
    <button
      nz-button
      [nzSize]="'small'"
      nzType="danger"
      (click)="removeWidgetFromList()"
    >
      Remove widget
    </button>
    <button
      nz-button
      nzType="primary"
      [nzSize]="'small'"
      (click)="toggleComponentStatus()"
    >
      Hide
    </button>
  </div>
  <ng-template olWidgetHost></ng-template>
</div>