.component {
  &-wrapper {
    &.active {
      padding: 10px;
      border: solid 1px lightgray;
    }
  }

  &-control {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}