<div class="wh">
  <div class="wh-step"> {{ stepNumber }} </div>
  <div class="wh-title"> {{ title }} </div>
  <button
    class="wh-button"
    nz-button
    nzType="dashed"
    nzSize="large"
    (click)="emitAction()"
  >
    Edit
  </button>
</div>