.wh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;

  &-step {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: lightgreen;
  }

  &-title {
    flex-grow: 1;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 200;
  }

  &-button {
    width: 125px;
  }
}