<div class="cw">
  <div class="cw-controls">
    <button
      nz-button
      class="cw-button cw-button__back"
      [nzSize]="'large'"
      nzType="default"
      (click)="step.onCancel()"
    >
      Back
    </button>

    <button
      nz-button
      class="cw-button cw-button__next"
      [nzSize]="'large'"
      nzType="primary"
      (click)="step.onNext()"
    >
      Next
    </button>
  </div>
</div>