.pbb {

  &-form {
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;

    & > input {
      margin-top: 24px;
    }
  }

  &-is-default {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &-error {
    color: rgb(223, 107, 92);
    margin-top: 12px;

    p {
      margin: 0;
    }
  }
}