<div class="pbb" [formGroup]="baForm">
  <form class="pbb-form" formGroupName="addPayment">
    <div class="pbb-error" *ngIf="(showErrors$ | async) && baForm.invalid">
      <p>All fields are required</p>
    </div>
    <input
      type="text"
      nz-input
      placeholder="Name on Bank Account"
      name="name"
      autocomplete="name"
      formControlName="name"
    >
    <input
      type="text"
      nz-input
      placeholder="Routing Number"
      name="routingNumber"
      autocomplete="routingNumber"
      formControlName="routingNumber"
    >
    <input
      type="text"
      nz-input
      placeholder="Account Number"
      name="account"
      autocomplete="account"
      formControlName="account"
    >
    <input
      type="text"
      nz-input
      placeholder="Re-enter Account Number"
      name="confirmAccount"
      autocomplete="confirmAccount"
      formControlName="confirmAccount"
    >
    <input
      type="text"
      nz-input
      placeholder="Savings"
      name="savings"
      autocomplete="savings"
      formControlName="savings"
    >
    <div class="pbb-is-default">
      <label nz-checkbox formControlName="isDefault">
        Make this my default payment method
      </label>
    </div>
  </form>
</div>