<ng-container *ngIf="screenflowStep">
  <div
    id="generic-modal-widgets"
    cdkDropList
    [cdkDropListData]="screenflowStep.widgetsList"
    (cdkDropListDropped)="dropWidget($event)"
  >
    <ng-container *ngFor="let widget of screenflowStep.widgetsList; let i=index">
      <div cdkDrag [cdkDragData]="widget">
        <ol-dynamic-renderer
          [widget]="widget"
          [widgetIndex]="i"
          (widgetRemove)="removeWidgetFromList($event)"
        ></ol-dynamic-renderer>
      </div>
    </ng-container>
  </div>
</ng-container>