.pci {

  &-wrapper {
    padding: 10px 20px;
    background-color: #3db36c;
    color: white;
  }

  &-info {

    p {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  &-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;

    &:visited {
      color: inherit;
    }
  }
}