<div class="pmi">
  <div class="pmi-item" (click)="paymentMethodChanged()">
    <label
      nz-checkbox
      [nzChecked]="paymentMethod.isDefault"
    ></label>
    <div class="pmi-description">
      <ng-container [ngSwitch]="paymentMethod.paymentType">
        <ol-payment-item-card
          *ngSwitchCase="paymentTypeEnum.CreditCard"
          [method]="paymentMethod"
        ></ol-payment-item-card>

        <ol-payment-item-bank
          *ngSwitchCase="paymentTypeEnum.BankAccount"
          [method]="paymentMethod"
        ></ol-payment-item-bank>
      </ng-container>
    </div>
  </div>
</div>
