<ng-container *ngIf="widgetList">
  <div
    id="widget-list"
    class="wl-wrapper"
    cdkDropList
    cdkDragLockAxis="y"
    [cdkDropListData]="widgetList"
    [cdkDropListConnectedTo]="['generic-modal-widgets']"
  >
    <ng-container *ngFor="let widget of widgetList">
      <div
        class="wl-widget"
        (click)="setActive(widget)"
        cdkDrag
      >
        <h3> {{ widget.widgetData.widgetTitle }} </h3>
        <ol-dynamic-renderer
          *ngIf="activeWidget === widget.widgetComponentName"
          [widget]="widget"
        ></ol-dynamic-renderer>
      </div>
    </ng-container>
  </div>
</ng-container>