.pbc {

  &-card-preview {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .card-item {
      flex-basis: 20%;
      height: 50px;
      border-radius: 3px;
      background-color: #cdcdcd;

      &__green {
        background-color: rgb(77, 121, 79);
      }

      &__orange {
        background-color: rgb(218, 157, 45);
      }

      &__blue {
        background-color: rgb(90, 157, 245);
      }

      &__red {
        background-color: rgb(235, 109, 109);
      }
    }
  }

  &-form {

    & > input {
      margin-top: 24px;
    }

    .form-row {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;

      input {
        width: calc(50% - 12px);
      }
    }
  }

  &-is-default {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &-error {
    color: rgb(223, 107, 92);
    margin-top: 12px;

    p {
      margin: 0;
    }
  }
}