<div class="pbc" [formGroup]="ccForm">
  <div class="pbc-card-preview">
    <div class="card-item card-item__green"></div>
    <div class="card-item card-item__orange"></div>
    <div class="card-item card-item__blue"></div>
    <div class="card-item card-item__red"></div>
  </div>
  <form class="pbc-form" formGroupName="addPayment">
    <div class="pbc-error" *ngIf="(showErrors$ | async) && ccForm.invalid">
      <p>All fields are required</p>
    </div>
    <input
      type="text"
      nz-input
      placeholder="Name on card"
      name="name"
      autocomplete="name"
      formControlName="name"
    >
    <input
      type="text"
      nz-input
      placeholder="Card number"
      name="cardNumber"
      autocomplete="cardNumber"
      formControlName="cardNumber"
    >
    <div class="form-row">
      <input
        type="date"
        nz-input
        placeholder="Expiration date"
        formControlName="expirationDate"
      >
      <input
        type="text"
        nz-input
        placeholder="Security code"
        formControlName="code"
      >
    </div>
    <input
      type="text"
      nz-input
      placeholder="Billing address"
      name="address"
      autocomplete="address"
      formControlName="address"
    >
    <input
      type="text"
      nz-input
      placeholder="Billing zip"
      name="zip"
      autocomplete="zip"
      formControlName="zip"
    >
    <div class="pbc-is-default">
      <label nz-checkbox formControlName="isDefault">
        Make this my default payment method
      </label>
    </div>
  </form>
</div>