<nz-layout class="main-layout">
  <nz-header class="header">
    <div class="title" [class.collapsed]="sideMenuCollapsed">
      <h3>{{ sideMenuCollapsed ? 'GM3' : 'Generic Modal 3.0' }}</h3>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      nzWidth="200px"
      nzTheme="light"
      nzCollapsible
      [(nzCollapsed)]="sideMenuCollapsed"
    >
      <ul
        nz-menu
        nzMode="inline"
        class="side-menu"
        [nzInlineCollapsed]="sideMenuCollapsed"
      >
        <li nz-submenu nzIcon="bars" nzTitle="Screenflows" title="Screenflows">
          <ul>
            <li nz-menu-item [routerLink]="['/screenflow/configure/gm/', 'pay']" routerLinkActive="ant-menu-item-active" >Pay screenflow</li>
            <li nz-menu-item>Two</li>
            <li nz-menu-item>Tree</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content class="layout-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>