.main-layout {
  height: 100%;

  .header {
    padding: 0;
  }

  .title {
    width: 200px;
    background-color: aliceblue;
    display: block;
    color: #666;
    display: flex;
    justify-content: center;

    &.collapsed {
      width: 80px;
    }
  }

  .side-menu {
    height: 100%;
    border-right: 0;
  }

  .layout-content {
    background-color: #ecf6fb;
    padding: 10px;
    overflow: hidden;
  }
}
