<div class="pic">
  <div class="pic-image"></div>
  <div class="pic-customer">
    <div class="pic-account"> {{ method.emitter }} ending in {{ method.lastForDigits }} </div>
    <div class="pic-account">Expires {{ method.expirationMonth }}/{{ method.expirationYear }}</div>
  </div>
</div>