.pt {

  &-wrapper {
    padding: 15px 10px;
  }

  &-select {
    display: flex;
    justify-content: space-evenly;
  }

  &-choice {
    input[type="radio"] {
      display: none;

      &:checked + label {
        background-color: #B9FFC0;
      }
    }

    label {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 10px;
      border: 2px solid #666;
      border-radius: 5px;
      min-width: 125px;

      &:hover {
        background-color: #eeffee;
      }

      i {
        font-size: 2em;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  &-form {
    padding: 0 80px;
  }
}