<ng-container *ngIf="data.widgetForm">
  <div class="pt-wrapper" [formGroup]="data.widgetForm">
    <div class="pt-select">
      <ng-container *ngFor="let paymentType of data.paymentTypes; trackBy: paymentTypeTrackFn">
        <div class="pt-choice">
          <input
            type="radio"
            name="paymentType"
            [value]="paymentType.paymentType"
            formControlName="paymentType"
            [id]="paymentType.paymentType"
          >
          <label [for]="paymentType.paymentType">
            <i nz-icon [nzType]="paymentType.icon"></i>
            <p> {{ paymentType.title }} </p>
          </label>
        </div>
      </ng-container>
    </div>
    <div class="pt-form">
      <ng-container [ngSwitch]="selectedPaymentType">
        <ol-pay-by-credit-card
          *ngSwitchCase="paymentTypes.CreditCard"
          [ccForm]="data.widgetForm"
        >
        </ol-pay-by-credit-card>
        <ol-pay-by-bank-account
          *ngSwitchCase="paymentTypes.BankAccount"
          [baForm]="data.widgetForm"
        ></ol-pay-by-bank-account>
        <ng-template ngSwitchDefault>Please, choose payment type.</ng-template>
      </ng-container>
    </div>
  </div>
</ng-container>